body {
  background-color: slateblue;
}

.titleBar {
  background-color: rgba(0, 0, 0, 0.5);
}

.titleText {
  text-shadow: 4px 4px 3px black;
}

.cardName {
  background-color: blue;
}

.employeeCard {
  background-color: whitesmoke;
}